html {
    max-width: 1200px;
}

ul {
    padding-left: 0;
}

ul li::before {
    display: none;
}

.gallery-section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: start;
}

.gallery-image {
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 0;
    background-color: #a2a2a2;
    object-fit: cover;
    width: 20rem;
    height: 12rem;
}

.gallery ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 18rem;
    max-height: 20rem;
}

.description {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-color);
}

/* region Camera Info */

.camera-info {
    display: flex;
    justify-content: start;
    gap: .5rem;
    align-items: center;
}

.camera-info p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--text-color);
}

.camera-info img {
    margin: 0;
    width: 14px;
    height: 14px;
    filter: invert(1);
}

/* endregion */

/* region Photo Modal */

#photo-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

#photo-modal img {
    max-width: 95%;
    max-height: 85%;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    object-fit: contain;
}

#photo-modal p {
    margin-top: 1rem;
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

#photo-modal .close-button {
    z-index: 1001;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    line-height: 1;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}

#modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    max-height: 90%;
    justify-content: center;
}

/* endregion */

@media (max-width: 600px) {
    .gallery-section-content {
        flex-direction: column;
        align-items: center;
    }

    .gallery ul li {
        width: 100%;
        max-height: none;
    }

    .gallery-image {
        width: 100%;
        height: auto;
    }
}

@media (prefers-color-scheme: dark) {
    .camera-info img {
        filter: invert(0);
    }
}