html {
    max-width: 1200px;
}

img {
    max-width: 15rem;
}

#photography-gallery li::before {
    content: "";
    display: none;
    width: 0;
}

#photography-gallery {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}